extends ../wrapper/page

append header
    //- #CATEGORY
    section.c-section(data-section='Category List')
        .c-cat-list.c-cat-list--horizontal.c-cat-list--dark(class='[ ]')
            ul.o-carousel.o-carousel--8col.o-carousel--small.u-margin-bottom-none(class='[ ]')
                each category in categories
                    li.o-carousel__item.c-cat-list__item.u-txt-align-center(id=category._id)
                        a.c-cat-list__item-detail(href='/category/#{category.name}')
                            i(class=category.iconClass + ' [ large ]', title=category.name)
                            |#{category.name}
    //- /Category





//- #BLOCK: BODY
block body


    //- #MAIN CONTENT
    .o-wrapper.u-ph-0

        main(data-section="Main Content")


            //- #PREVIEW PRODUCT
            section.c-section(data-section='Product Preview')


                //- #BREADCRUMB
                .c-breadcrumb
                    each categoryList in product.categories
                        each category in categoryList
                            span.c-breadcrumb__child(data-hover='darkblue')
                                a(href='/category/' + category)
                                    | #{category}


                .o-layout.o-layout--small(class='[ ]')

                    //-#IMAGES PRODUCT
                    section.o-layout__item.u-margin-top(class='u-3/10', data-section='Product Images')
                        .c-slider
                            .c-slider__screen.c-slider__w-img.js-slider-screen-1d
                                .c-slider__screen-item
                                    img(data-id='1', data-lazy=product.imUrl, alt=product.name)
                                .c-slider__screen-item
                                    img(data-id='2', data-lazy=product.imUrl, alt=product.name)
                                .c-slider__screen-item
                                    img(data-id='3', data-lazy=product.imUrl, alt=product.name)

                            .c-slider__nav.c-slider__w-img.js-slider-nav-3d
                                .c-slider__nav-item
                                    img(data-lazy=product.imUrl)
                                .c-slider__nav-item
                                    img(data-lazy=product.imUrl)
                                .c-slider__nav-item
                                    img(data-lazy=product.imUrl)


                    //-#DETAIL PRODUCT
                    section.o-layout__item(class='u-4/10 u-push-1/20', data-section='Product Detail')

                        //-#NAME AND CATEGORY
                        .u-txt--title.u-txt--dark.u-txt--bold.u-margin-bottom-small=product.title

                        //-#SMALL PRODUCT DETAIL
                        .u-margin-top-small.u-margin-bottom-tiny.u-cf
                            //-#BRAND NAME
                            span.u-txt--tiny(class='[ ]')
                                | Brand:
                                |

                            //- If the product has a brand
                            if (product.brand)
                                span.u-txt--bright.u-txt--xbold(class='[ ]')=product.brand


                            //-#RATING AND RATING COUNTER
                            .u-float-right.u-d-flex.u-fd--column(class='[ ]')
                                .star
                                    i.fas.fa-star.tiny.rect(class='[ ]', data-rating='1')
                                    i.fas.fa-star.tiny.rect(class='[ ]', data-rating='2')
                                    i.fas.fa-star.tiny.rect(class='[ ]', data-rating='3')
                                    i.fas.fa-star.tiny.rect(class='[ ]', data-rating='4')
                                    i.fas.fa-star.tiny.rect(class='[ ]', data-rating='5')
                                span.u-txt--tiny.u-txt--light(class='[ ]')=product.rating


                        //-/Small product detail
                        hr
                        //-#OPTION PRODUCT
                        if(product.options)
                            .c-option.c-option--bordered(class='[ ]')
                                p.c-option__detail
                                    | Color:
                                    span.c-option__value White Black
                                ul.o-layout.o-carousel.o-carousel--8col.o-carousel--tiny.c-option__control(class='[ ]')
                        //-/Product option




                        //-#DESCRIPTION PRODUCT
                        section.u-cf(data-section='Product Information')
                            ul.u-txt-12.u-margin-bottom-none.u-margin-left-small
                                li
                                    span=product.description

                            a.u-float-left.u-txt-10.u-txt-underline(href='#0')
                                span
                                    i.fas.fa-caret-down
                                    | More
                        //-/Product Description


                    //-/Product Detail




                    //-#CTA AND RECOMMENDATION
                    section.o-layout__item(class='u-2/10 u-push-1/10', data-section='Call to Action')
                        .o-list-inline
                            .o-list-inline__item.t-price.u-txt--larger
                                span.u-txt-16 $
                                | #{product.price}
                            //.o-list-inline__item.t-price--before.u-txt-linethrough.u-txt--light
                            //    span.u-txt-12 $
                            //    | 7.99


                        .c-option.c-option--control.u-margin-top-small(class='[ ]')
                            .c-option__board
                                label.u-txt--blur.u-txt-12.u-mr-6 Quantity:
                                input#qty.js-option-screen(type='number', min='0', value='1')

                        //-#CTA
                        .u-d-flex.u-fd--column.u-margin-top.u-margin-bottom-large
                            button.c-btn.c-btn--cta.c-btn--rounded.c-btn--type-large.u-flex-1.u-margin-bottom-small(class='[ ]', type='submit', title='Buy Now') Buy Now
                            button.c-btn.c-btn--primary.c-btn--rounded.c-btn--type-large.u-flex-1(class='[ ]', type='button', title='Add to Cart') Add to Cart
                        hr

                        //-#SAME BRAND
                        section.c-section(data-section='Same Brand Products')
                            .c-section__title.c-section__title--no-margin(class='[ ]')
                                | From our brand
                            ul.o-list-bare
                                li.o-media.c-product.c-product--secondary(class='[ ]')
                                    img.o-media__img.c-product__img.u-w--30.u-mr-6( alt='Product 1')
                                    .o-media__body
                                        .c-product__name.u-txt--bold
                                            | DualShock 4 Wireless Controller
                                            | for PlayStation...
                                        .c-product__rating
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='1')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='2')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='3')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='4')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='5')
                                        .c-price.c-price--small(class='[ ]')
                                            .c-price__price
                                                span.c-price__currency $
                                                | 30.00
                                            .c-price__price--secondary
                                                span.c-price__currency $
                                                | 7.99
                                li.o-media.c-product.c-product--secondary(class='[ ]')
                                    img.o-media__img.c-product__img.u-w--30.u-mr-6( alt='Product 1')
                                    .o-media__body
                                        .c-product__name.u-txt--bold
                                            | DualShock 4 Wireless Controller
                                            | for PlayStation...
                                        .c-product__rating
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='1')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='2')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='3')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='4')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='5')
                                        .c-price.c-price--small(class='[ ]')
                                            .c-price__price
                                                span.c-price__currency $
                                                | 30.00
                                            .c-price__price--secondary
                                                span.c-price__currency $
                                                | 7.99
                                li.o-media.c-product.c-product--secondary(class='[ ]')
                                    img.o-media__img.c-product__img.u-w--30.u-mr-6( alt='Product 1')
                                    .o-media__body
                                        .c-product__name.u-txt--bold
                                            | DualShock 4 Wireless Controller
                                            | for PlayStation...
                                        .c-product__rating
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='1')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='2')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='3')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='4')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='5')
                                        .c-price.c-price--small(class='[ ]')
                                            .c-price__price
                                                span.c-price__currency $
                                                | 30.00
                                            .c-price__price--secondary
                                                span.c-price__currency $
                                                | 7.99
                        //-/Same brand
                    //-/Cta and Recommendations
            //-/Product Preview



            //- #BUNDLE
            if (bundleProducts.products.length)
                section.c-section(class='u-6/10', data-section='Product Bundle')
                    form(action='/product/' + product.asin + '/addBundleToCart', method='post')
                        .c-section__title.c-section__title--no-margin(class='[ ]')
                            | Usually bought together
                        .c-section__content
                            .o-layout.o-layout--tiny(class='[ ]')
                                .o-layout__item(class='u-2/3')


                                    ul.c-bundle.u-m-0
                                        .o-layout.o-layout--flush(class='[ ]')
                                            li.o-layout__item.c-bundle__product(id=product.asin)
                                                span
                                                    a(href='/product/' + product.asin)
                                                        img.c-bundle__img(src=product.imUrl, title=product.name)
                                                span.c-bundle__separator +

                                            each product, index in bundleProducts.products
                                                li.o-layout__item.c-bundle__product.c-bundle__product--disabled(id=product.asin)
                                                    span
                                                        a(href='/product/' + product.asin)
                                                            img.c-bundle__img(src=product.imUrl, title=product.name)
                                                    if (index < bundleProducts.products.length - 1)
                                                        span.c-bundle__separator +
                                    // /Bundle


                                .o-layout__item(class='u-1/3')
                                    .u-txt--bold.u-txt-14
                                        | Total:
                                        span.c-price.c-price--small(class='[ ]')
                                            span.c-price__price
                                                span.c-price__currency $
                                                | #{bundleProducts.totalPrice}
                                    input(type='submit' value="Add All To Cart").c-btn.c-btn--cta.c-btn--rounded.c-btn--type-large.c-btn--stretch.u-mt-12

                        div.o-layout.o-layout--tiny.u-mt-12(class='[ ]')
                            .o-layout__item(class='u-2/3')
                                ul.o-list-bare

                                    li.o-list-bare__item.u-pos-relative
                                        input(type='checkbox', name='bundleProduct' id='bundle-' + product.asin, value=product.asin)
                                        label.u-txt-14.u-txt-truncate-1(for='bundle-' + product.asin)
                                            span.u-txt--bold='Current: '
                                            | #{product.title}

                                            span.c-price.c-price--small.u-pos-absolute.u-pos-left-100
                                                span.c-price__price
                                                    span.c-price__currency $
                                                    | #{product.price}

                                    each product, index in bundleProducts.products
                                        li.o-list-bare__item.u-pos-relative
                                            input(type='checkbox', name='bundleProduct' id='bundle-' + product.asin, value=product.asin)
                                            label.u-txt-14.u-txt-truncate-1(for='bundle-' + product.asin)
                                                | #{product.title}

                                                span.c-price.c-price--small.u-pos-absolute.u-pos-left-100
                                                    span.c-price__price
                                                        span.c-price__currency $
                                                        | #{product.price}

            // #TAB
            .c-tab.u-mt-36.u-mb-24
                .c-tab__header.u-border--m-blur
                    a.c-tab__header-name.u-txt-14.active(href='#0', data-tab='1') Description
                    a.c-tab__header-name.u-txt-14(href='#0', data-tab='2') Additional Information
                    a.c-tab__header-name.u-txt-14(href='#0', data-tab='3') Customer Q&amp;A
                    a.c-tab__header-name.u-txt-14(href='#0', data-tab='4') Customer Reviews
                .c-tab__content
                    // #DESCRIPTION
                    .c-tab__content-item.u-txt--normal.u-txt-14.active(class='u-2/3', data-tab='1')
                        | #{product.description}
                    // /Description
                    // #INFORMATION
                    .c-tab__content-item.u-txt--normal.u-txt-14(data-tab='2')
                        .c-table
                            .c-table__row
                                .c-table__row-col.c-table__attr
                                    | Package Dimensions
                                .c-table__row-col.c-table__value
                                    | 13.6 x 6.6 x 1.9 inches
                            .c-table__row
                                .c-table__row-col.c-table__attr
                                    | Weight
                                .c-table__row-col.c-table__value
                                    | 2.33 pounds
                            .c-table__row
                                .c-table__row-col.c-table__attr
                                    | Color
                                .c-table__row-col.c-table__value
                                    | Red/Blue/Green/Black
                            .c-table__row
                                .c-table__row-col.c-table__attr
                                    | Manufacturer
                                .c-table__row-col.c-table__value
                                    | Microsoft
                            .c-table__row
                                .c-table__row-col.c-table__attr
                                    | Status
                                .c-table__row-col.c-table__value
                                    | Out of Stock
                    // /Information
                    // #Q&A
                    .c-tab__content-item(data-tab='3')
                        .u-mb-36
                            .u-mv-24
                                h4.u-txt-20.u-mb-6 Can this controller be used for Xbox 365?
                                p.u-txt-14.u-mb-0
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    | do
                                    | eiusmod
                                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud
                                    | ipsum consectetur sed do, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    | ex
                                    | ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                                ul.u-txt-14
                                    li
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodtempor
                                        | incididunt ut labore et dolore magna aliqua
                                    li
                                        | Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                            .u-mv-24
                                h4.u-txt-20.u-mb-6 How do I see lyrics on your Apple TV?
                                p.u-txt-14.u-mb-0
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    | do
                                    | eiusmod
                                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud
                                    | ipsum consectetur sed do, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    | ex
                                    | ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                            .u-mt-24
                                h4.u-txt-20.u-mb-6
                                    | How to see lyrics on your Iphone, Ipad, Ipod touch, or
                                    | Android
                                    | device?
                                p.u-txt-14.u-mb-0
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    | do
                                    | eiusmod
                                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud
                                    | ipsum consectetur sed do, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    | ex
                                    | ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                            a.u-txt-10.u-txt-underline(href='#0')
                                span
                                    i.fas.fa-caret-down
                                    | More
                        hr
                        .u-txt-12.u-d-flex
                            input.u-w--80(type='text', placeholder='Ask us anything...')
                            button.c-btn.c-btn--primary.c-btn--rounded.u-ml-auto.u-w--15(class='[ ]', type='button') Post
                // /QnA
                // #REVIEWS
                .c-tab__content-item.u-m-center.u-mt-36.u-w--80(data-tab='4')
                    // #PROGRESS BAR
                    .c-progress.u-mb-24
                        .c-progress__graph(class='u-2/5')
                            .c-progress__item
                                span.c-progress__label
                                    | 5
                                    span.u-ml-6
                                        i.fas.fa-star(class='[ ]')
                                progress.c-progress__bar(value='20', max='100')
                                span.c-progress__value 20%
                            .c-progress__item
                                span.c-progress__label
                                    | 4
                                    span.u-ml-6
                                        i.fas.fa-star(class='[ ]')
                                progress.c-progress__bar(value='40', max='100')
                                span.c-progress__value 20%
                            .c-progress__item
                                span.c-progress__label
                                    | 3
                                    span.u-ml-6
                                        i.fas.fa-star(class='[ ]')
                                progress.c-progress__bar(value='20', max='100')
                                span.c-progress__value 20%
                            .c-progress__item
                                span.c-progress__label
                                    | 2
                                    span.u-ml-6
                                        i.fas.fa-star(class='[ ]')
                                progress.c-progress__bar(value='10', max='100')
                                span.c-progress__value 20%
                            .c-progress__item
                                span.c-progress__label
                                    | 1
                                    span.u-ml-6
                                        i.fas.fa-star(class='[ ]')
                                progress.c-progress__bar(value='10', max='100')
                                span.c-progress__value 20%
                        .c-progress__sum.u-ml-120
                            .c-progress__sum-overall
                                | 4.5/5
                            .c-progress__sum-count
                                | 12,345 ratings
                    // /Progress bar
                    hr
                    // #COMMENT
                    section.c-section.u-mt-24.u-mb-36
                        .u-mb-24
                            .o-media.o-media--small(class='[ ]')
                                .o-media__img.c-avatar.c-avatar--small(class='[ ]')
                                    img(src='asset/img/avatar-1.svg', title='A beautiful trendy girl')
                                .o-media__body.u-txt-14
                                    .u-txt--bold Man in Blue
                                    .u-txt-12
                                        span
                                            i.fas.fa-star.rect(class='[ ]')
                                            i.fas.fa-star.rect(class='[ ]')
                                            i.fas.fa-star.rect(class='[ ]')
                                            i.fas.fa-star.rect(class='[ ]')
                                            i.fas.fa-star.rect(class='[ ]')
                                        span.u-txt--light.u-ml-6.u-txt--blur Nov 11
                            .u-mt-12.u-txt--bold.u-txt-16 The ultimate symbol of douchery.
                            .o-carousel.o-carousel--small.o-carousel--8col.u-mv-6(class='[ ]')
                                .o-carousel__item
                                    img(src='asset/img/review.jpg', title='This product is suck')
                                .o-carousel__item
                                    img(src='asset/img/review.jpg', title='This product is suck')
                                .o-carousel__item
                                    img(src='asset/img/review.jpg', title='This product is suck')
                            .u-txt-14
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                | incididunt ut
                                | labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud ipsum consectetur sed
                                | do,
                                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                | aute
                                | irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                | pariatur.
                                | Excepteur sint occaecat...
                                a.u-txt-10.u-txt-underline(href='#0')
                                    span
                                        i.fas.fa-caret-down
                                        | More
                        .u-mb-24
                            .o-media.o-media--small(class='[ ]')
                                .o-media__img.c-avatar.c-avatar--small(class='[ ]')
                                    img(src='asset/img/avatar-2.svg', title='A beautiful trendy girl')
                                .o-media__body.u-txt-14
                                    .u-txt--bold Man in Blue
                                    .u-txt-12
                                        span
                                            i.fas.fa-star.rect(class='[ ]')
                                            i.fas.fa-star.rect(class='[ ]')
                                            i.fas.fa-star.rect(class='[ ]')
                                            i.fas.fa-star.rect(class='[ ]')
                                            i.fas.fa-star.rect(class='[ ]')
                                        span.u-txt--light.u-ml-6.u-txt--blur Nov 11
                            .u-mt-12.u-txt--bold.u-txt-16 The ultimate symbol of douchery.
                            .u-txt-14
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                | incididunt ut
                                | labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud ipsum consectetur sed
                                | do,
                                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                | aute
                                | irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                | pariatur.
                                | Excepteur sint occaecat...
                                a.u-txt-10.u-txt-underline(href='#0')
                                    span
                                        i.fas.fa-caret-down
                                        | More
                        .u-mb-24
                            .o-media.o-media--small(class='[ ]')
                                .o-media__img.c-avatar.c-avatar--small(class='[ ]')
                                    img(src='asset/img/avatar-3.svg', title='A beautiful trendy girl')
                                .o-media__body.u-txt-14
                                    .u-txt--bold Pony-tail Girl
                                    .u-txt-12
                                        span
                                            i.fas.fa-star.rect(class='[ ]')
                                            i.fas.fa-star.rect(class='[ ]')
                                            i.fas.fa-star.rect(class='[ ]')
                                            i.far.fa-star.rect(class='[ ]')
                                            i.far.fa-star.rect(class='[ ]')
                                        span.u-txt--light.u-ml-6.u-txt--blur Nov 29
                            .u-mt-12.u-txt--bold.u-txt-16 The ultimate symbol of douchery.
                            .u-txt-14
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                | incididunt ut
                                | labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud ipsum consectetur sed
                                | do,
                                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                | aute
                                | irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                | pariatur.
                                | Excepteur sint occaecat...
                                a.u-txt-10.u-txt-underline(href='#0')
                                    span
                                        i.fas.fa-caret-down
                                        | More
                    // /Comments
                    hr
                    form(method='POST')
                        .u-txt-24.u-txt--hairline.u-mb-24
                            | Write your own review
                        .u-mb-12.u-txt-12.utxt--light
                            input.u-w--80.u-pv-12.u-mb-12(type='text', placeholder="Your review's title")
                            textarea.u-w--80.u-pv-12(cols='8', rows='4', placeholder='What do you want to say about this product?')
                        div
                            span
                                i.far.fa-star.rect(class='[ ]')
                                i.far.fa-star.rect(class='[ ]')
                                i.far.fa-star.rect(class='[ ]')
                                i.far.fa-star.rect(class='[ ]')
                                i.far.fa-star.rect(class='[ ]')
                            span.u-txt-12.u-txt--blur Rate this product
                        .u-mt-36.u-txt-align-right.u-txt-12
                            button.c-btn.c-btn--rounded.c-btn--secondary.u-w--15(class='[ ]', type='reset') Cancel
                            button.c-btn.c-btn--rounded.c-btn--primary.u-w--15.u-ml-12(class='[ ]', type='submit') Post
                // /Reviews
            // /Tab




            if (alsoViewed.length)
                section.c-section(data-section='Custom who viewed this item also viewed')
                    .c-section__title.c-section__title--no-margin(class='[ ]')
                        | Custom who viewed this item also viewed
                    .c-section__content
                        // #SLIDER
                        .c-slider.c-slider--tiny-gut.js-slider-6d.u-ph-48(class='[ ]')

                            each product in alsoViewed
                                a.c-product(href='/product/' + product.asin)
                                    .c-product__img
                                        img(data-lazy=product.imUrl, alt=product.title)
                                    .c-product__name
                                        | #{product.title}
                                    .c-product__rating

                                    .c-price.c-price--small(class='[ ]')
                                        span.c-price__price
                                            span.c-price__currency $
                                            | #{product.price}

                            // /Silde



            if (alsoBought.length)
                // #BOUGHT ALSO BOUGHT
                section.c-section(data-section='Custom who bought this item also bought')
                    .c-section__title.c-section__title--no-margin(class='[ ]')
                        | Custom who bought this item also bought
                    .c-section__content
                        // #SLIDER
                        .c-slider.c-slider--tiny-gut.js-slider-6d.u-ph-48(class='[ ]')

                            each product in alsoBought
                                a.c-product(href='/product/' + product.asin)

                                    .c-product__img
                                        img(data-lazy=product.imUrl, alt=product.title)
                                    .c-product__name
                                        | #{product.title}
                                    .c-product__rating
                                        span
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='1')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='2')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='3')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='4')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='5')
                                        span.u-txt--tiny
                                            | 12,345 ratings
                                    .c-price.c-price--small(class='[ ]')
                                        span.c-price__price
                                            span.c-price__currency $
                                            | #{product.price}
                            // /Silder
                // /Bought also bought




            if (sameCategory.length)
                // #CATEGORY SAME
                section.c-section(data-section='Same Category')
                    .c-section__title.c-section__title--no-margin(class='[ ]')
                        | From the same category
                    .c-section__content
                        // #SLIDER
                        .c-slider.c-slider--tiny-gut.js-slider-6d.u-ph-48(class='[ ]')

                            each product in sameCategory
                                a.c-product(href='/product/' + product.asin)
                                    .c-product__img
                                        img(data-lazy=product.imUrl, alt=product.title)
                                    .c-product__name
                                        | #{product.title}
                                    .c-product__rating
                                        span
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='1')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='2')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='3')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='4')
                                            i.fas.fa-star.tiny.rect(class='[ ]', data-rating='5')
                                        span.u-txt--tiny
                                            | 12,345 ratings
                                    .c-price.c-price--small(class='[ ]')
                                        span.c-price__price
                                            span.c-price__currency $
                                            | #{product.price}
                                        span.c-price__price--secondary
                                            span.c-price__currency $
                                            | 20.99
                            // /Silder
                // /Category Same





//- #BLOCK: SCRIPT-BODY
append script-body
    script.


        $('.js-slider-screen-1d')
            .slick({
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false,
              fade: false,
              infinite: false,
              useTransform: true,
              speed: 200,
              cssEase: 'cubic-bezier(0.77, 0, 0.18, 1)',
              asNavFor: '.js-slider-nav-3d'
        })


        $('.js-slider-nav-3d')
          .slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            dots: false,
            focusOnSelect: true,
            infinite: false,
            asNavFor: '.js-slider-screen-1d',
        })


        $('.js-slider-6d')
          .slick({
            slidesToShow: 6,
            slidesToScroll: 6,
            arrows: true,
            infinite: false,
            prevArrow: '<button type="button" class="left"><i class="fas fa-angle-left [ large ]"></i></button>',
            nextArrow: '<button type="button" class="right"><i class="fas fa-angle-right [ large ]"></i></button>',
          })
